---
layout: archive
title: "Academic visits and talks"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<!---
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
--->

<h3>
<span style="font-weight: bold;">2023</span>
</h3>
20/08/23-25/08/23 : ICIAM 2023, Tokyo, Japan<br>
18/06/23-23/06/23 : BIRS workshop on Scientific Machine Learning, Banff, Canada<br>
30/05/23-02/06/23 : GAMM Annual Meeting, Dresden, Germany<br>
05/03/23-10/03/23 : BIRS workshop on Numerical Analysis, Banff, Canada<br>
26/02/23-03/03/23 : SIAM Conference on Computational Science and Engineering, Amsterdam, Netherlands<br>
<h3>
<span style="font-weight: bold;">2022</span>
</h3>
10/10/22-14/10/22 : EPFL, Switzerland (invited by Daniel Kressner)<br>
19/09/22-21/09/22 : Numerics & Acoustics workshop, Imperial College, UK<br>
16/08/22-19/08/22 : BIFD conference, Netherlands<br>
11/07/22-15/07/22 : Equadiff 15 conference, Czech Republic<br>
29/06/22-01/07/22 : IMA Conference on Numerical Linear Algebra and Optimization, University of Birmingham, UK<br>
22/06/22-23/06/22 : University of Cambridge, UK (invited by Carola Schönlieb)<br>
12/06/22-17/06/22 : Householder Symposium on Numerical Linear Algebra, Italy<br>
17/05/22 : Numerical Analysis Seminar, University of Oxford, UK<br>
25/04/22-29/04/22 : ICLR 2022, virtual<br>
12/04/22-15/04/22 : SIAM Conference on Uncertainty Quantification, Atlanta, USA<br>
29/03/22-31/03/22 : V-KEMS Study group, virtual<br>
07/03/22 : STEM for Britain, House of Commons, UK<br>
07/02/22-11/02/22 : Cornell University, USA (invited by Alex Townsend)<br>
10/01/22-12/01/22 : PRISM Residential workshop, UK<br>
07/01/22 : SIAM UKIE Annual Meeting, virtual<br>
<h3>
<span style="font-weight: bold;">2021</span>
</h3>
19/10/21 : Junior Applied Mathematics Seminar, University of Oxford, UK<br>
23/08/21-27/08/21 : 11th Montreal Industrial Problem Solving Workshop, virtual<br>
19/07/21-23/07/21 : SIAM Annual Meeting, virtual<br>
15/07/21-16/07/21 : British Early Career Mathematicians' Colloquium, University of Birmingham, UK<br>
21/06/21 : 20th IMA Leslie Fox Prize Event, virtual<br>
25/01/21-29/01/21 : 21st Geilo Winter School, virtual<br>
<h3>
<span style="font-weight: bold;">2020</span>
</h3>
06/12/20-12/12/20 : NeurIPS 2020, virtual<br>
03/11/20 : Numerical Analysis Seminar, University of Oxford, UK<br>
20/07/20-24/07/20 : European Study Group with Industry 162, University of Leeds, UK<br>
<h3>
<span style="font-weight: bold;">2019</span>
</h3>
03/08/19-28/09/19 : Simula Research Laboratory, Norway (visiting Marie Rognes)<br>
08/04/19-12/04/19 : European Study Group with Industry 145, University of Cambridge, UK<br>
<h3>
<span style="font-weight: bold;">2018</span>
</h3>
30/10/18 : Numerical Analysis Seminar, University of Oxford, UK<br>
24/04/18 : MIT, USA (visiting Jonasz Slomka)
<h3>
<span style="font-weight: bold;">2017</span>
</h3>
13/11/17 : SCAN Seminar, Cornell University, USA<br>
11/09/17-15/09/17 : Memorial University of Newfoundland, Canada (visiting Alex Bihlo)<br>
